<!DOCTYPE html>
<html>

<head>
    <title>Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body style="background-color: lightgray;">

    <div class="container-fluid" style="max-width: 75rem; padding: 30px; background-color: white;">
        <div class="jumbotron bg-danger text-white">
            <h1 class="text-center">My Team</h1>
        </div>
        <div class="container card-deck justify-content-center padding-bottom: 10px">
            <div class="card" style="max-width: 18rem; min-width: 18rem;">
                <div class="card-header text-white bg-primary mb-3">Header</div>
                <div class="card-body" style="background-color: lightgray;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                </div>
            </div>

            <div class="card" style="max-width: 18rem; min-width: 18rem;">
                <div class="card-header text-white bg-primary mb-3">Header</div>
                <div class="card-body" style="background-color: lightgray;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" style="max-width: 18rem; min-width: 18rem;">
                <div class="card-header text-white bg-primary mb-3">Header</div>
                <div class="card-body" style="background-color: lightgray;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" style="max-width: 18rem; min-width: 18rem;">
                <div class="card-header text-white bg-primary mb-3">Header</div>
                <div class="card-body" style="background-color: lightgray;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" style="max-width: 18rem; min-width: 18rem;">
                <div class="card-header text-white bg-primary mb-3">Header</div>
                <div class="card-body" style="background-color: lightgray;">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>